<div class="table-container">
  <h3 class="title is-3">
    All Users
  </h3>
  <hr>
  <table class="table is-striped is-fullwidth is-hoverable">
    <thead>
    <tr>
      <th>Username</th>
      <th>Email</th>
      <th>User Role</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    {{#each allusers}}
    <tr>
      <td>
        <a href="/users/{{this._id}}" {{#unless this.active}}style="text-decoration: line-through;"{{/unless}}>
          {{this.username}}
        </a>
      </td>
      <td>{{email}}</td>
      <td>{{role}}</td>
      <td>
        <a href="/admin/users/edit/{{_id}}">
          <i class="fas fa-pencil" aria-hidden="true"></i>
        </a>
        <a href="/admin/users/suspend/{{_id}}" onclick="return verifyToggleUserActive()">
          {{#if active}}
            <i class="fas fa-ban" aria-hidden="true"></i>
          {{else}}
            <i class="fas fa-check" aria-hidden="true"></i>
          {{/if}}
        </a>
        <a href="/admin/users/delete/{{_id}}" onclick="return verifyDelete()">
          <i class="fas fa-trash" aria-hidden="true"></i>
        </a>
      </td>
    </tr>
    {{/each}}
  </table>
</div>