<div class="content">
  <div class="columns is-vcentered">
    <div class="column">
      <div>
        <img src="{{last place.placeImages}}">
      </div>
    </div>

    <div class="column is-three-fifths">
      <h1>{{place.name}}</h1>
      <p>
        <a href="/places/category/{{place.category.slug_name}}">{{place.category.name}}</a>
      </p>
      <p>{{place.description}}</p>
    </div>
  </div>

  <h2>Location</h2>
  <iframe
    width="100%"
    height="250"
    frameborder="0" style="border:0"
    src="https://www.google.com/maps/embed/v1/view?key=AIzaSyAS7LOrkTEIV9KZz2paUEYg7j4H4gess7g&center={{place.location.lat}},{{place.location.lng}}&zoom=18" allowfullscreen>
  </iframe>

  <h2>Reviews</h2>
  {{#each reviews}}
    <div class="box">
      <article class="media">
        <div class="media-left">
          <figure class="is-64x64">
            <img class="tiny-profile-image" src="{{user.profileImage}}">
          </figure>
        </div>
        <div class="media-content">
          <div class="content">
            <p>
              <strong><a href="/users/{{user._id}}">@{{user.username}}</a></strong>
              <br>
              <small>{{formatDate createdAt}}</small>
                <div class="stars">
                  {{{stars rating}}}
                </div>
              <hr>
              {{comment}}
            </p>
          </div>
        </div>
      </article>
    </div>
  {{/each}}

  <h2>Add a review</h2>
  <form action="/places/{{place._id}}/reviews" method="POST">
    <div class="field">
      <label class="label">Review</label>
      <div class="control">
        <textarea class="textarea" name="comment"></textarea>
      </div>
    </div>

    <div class="field">
      <label class="label">Rating</label>
      <div class="control">
        <div class="select">
          <select name="rating">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
          </select>
        </div>
      </div>
    </div>

    <div class="field">
      <div class="control">
        <button class="button is-primary">Submit</button>
      </div>
    </div>
  </form>
</div>