<div class="container">
	<div class="row">
		<div class="col-sm-12">

      <div class="media is-flex">
        <figure class="media-left">
          <img src="{{ viewUser.profileImage }}" class="profile-image">
        </figure>
        <div class="media-content is-align-self-center">
          <h1 class="title is-3">
              {{viewUser.username}}'s Profile
          </h1>
        </div>
      </div>

			<hr>

      <p>
        <strong>Name:</strong> {{viewUser.firstName}} {{viewUser.lastName}}
      </p>

      {{#ifEq user.role "admin" }}
        <p>
          <strong>Email:</strong> {{viewUser.email}}
        </p>
        <p>
          <strong>Role:</strong> {{viewUser.role}}
        </p>
      {{/ifEq}}

      <p>
        <strong>Joined on</strong> {{formatDate viewUser.createdAt}}
      </p>

    </div>
  </div>
  <hr>
  <div class="row">
		<div class="col-sm-12">

      <div class="columns">
        <div class="column">
          <div class="card">
            <header class="card-header">
              <p class="card-header-title">
                  Places
              </p>
            </header>
            <div class="card-content">
              <div class="content">
                <p>
                    <strong>{{places.length}}</strong> places published
                </p>
                <ul>
                  {{#each places}}
                    <li>
                      <a href="/places/{{_id}}">{{name}}</a>
                    </li>
                  {{/each}}
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="column">
          <div class="card">
            <header class="card-header">
              <p class="card-header-title">
                  Categories
              </p>
            </header>
            <div class="card-content">
              <div class="content">
                <p>
                    <strong>{{#if viewUser.categories}}{{viewUser.categories.length}}{{else}}0{{/if}}</strong> categories
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="column">
          <div class="card">
            <header class="card-header">
              <p class="card-header-title">
                  Favourites
              </p>
            </header>
            <div class="card-content">
              <div class="content">
                <p>
                    <strong>{{favPlaces.length}}</strong> favourites
                </p>
                <ul>
                  {{#each favPlaces}}
                    <li>
                      <a href="/places/{{this._id}}">{{this.name}}</a>
                    </li>
                  {{/each}}
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
