<div class="box">
  <article class="media">
    <div class="media-left">
      <figure class="image is-128x128">
        <img class="place-thumb" src="{{placeImage}}">
      </figure>
    </div>
    <div class="media-content">
      <div class="content">
        <p>
          <strong class="is-size-4">
            <a href="/places/{{_id}}">{{name}}</a>
          </strong> <small class="has-text-grey-light"> by {{user.username}} @ {{formatDate updatedAt}}</small>
          <br>
          <small>
            Category: <a href="/places/category/{{category.slug_name}}">{{category.name}}</a>
          </small>
        </p>
        <p>
          {{truncateToWords description 50}}
        </p>
      </div>
      <nav class="level is-mobile">
        <div class="level-left">
          <a class="level-item" aria-label="reply">
            <span class="icon is-small">
              <i class="fas fa-reply" aria-hidden="true"></i>
            </span>
          </a>
          <a class="level-item" aria-label="edit" href="/places/edit/{{_id}}">
            <span class="icon is-small">
              <i class="fas fa-pencil" aria-hidden="true"></i>
            </span>
          </a>
          <a class="level-item" aria-label="like" href="/places/delete/{{_id}}" onclick="return verifyDelete()">
            <span class="icon is-small">
              <i class="fas fa-trash" aria-hidden="true"></i>
            </span>
          </a>
        </div>
      </nav>
    </div>
  </article>
</div>